body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 6.5rem;
    font-family: 'Sacramento', cursive;
}
h2{
 font-size: 2.5rem;
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
}
h3{
   
font-family: 'Montserrat', sans-serif;
color: #11999E;
}
.red{
     background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    height:31.6rem;
}
.red h1{
    margin: 0;
    color: #66bfbf;
}
.red h2{
    margin-top: 0;
    margin-bottom: 9.375rem;
    color: #66bfbf;
    font-weight: normal;
}
.top-cloud{
    position: absolute;
    top: 50px;
    left: 1000px;
}
.mid-cloud{
    position: absolute;
    top: 300px;
    left: 340px;

}
.mountain{
    position: absolute;
    left: 450px;
    top:245px;

}
.photo{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.bottom-container a{
    color: #11999E;
}

.skill-row {
   margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.web{
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-top: 15px;
}
.skill{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.skill-row p{
    font-size: 14px;
}
.profile p{
    color: #40514E;
}
hr{
    margin-top: 70px;
    margin-bottom: 70px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 8px;
    border-style: dotted;
    width: 5%;
    color: #EAF6F6;
}
.btn{
    background-color:#66BFBF;   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}
.btn:hover{
    background-color: #30e3cb;
    color:#2bc4ad;
}
.bottom-container{
    background-color: #66BFBF;
    margin-top: 40px;
    height: 200px;
}
.bottom-container a{
    text-decoration: none;
    font-weight: bold;
    margin: 40px;
    position: relative;
    top:55px;
}
.bottom-container p{
    color:#EAF6F6;
    position: relative;
    top:60px;
}